
  body {
    background-color: #EAF6F6;
  }

  hr {
    border-style: dotted none none;
    border-color: #509B7D;
    border-width: 6px;
    width: 3%;
  }

  h1
  {
    color: #66BFBF
  }

  h3
  {
    color: #66BFBF

  }
